.DS_Store
.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
vender/
log/
logs/
composer.lock
gitpush.sh
pkg/
bin/
cbuild
*/.DS_Store
.vscode

.svn/
evui/
document/
node_modules/
exp/
__pycache__/
.git/
datasets/
images/
labels/
aug/
results/
